<nav>
    <div class="topnav" id="myTopnav">
        <a href="{{ site.url }}">Home</a>
        <div class="dropdown">
        <button class="dropbtn">Projects
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="{{ site.full_stack_url }}">Full Stack</a>
            <a href="#">Tableau</a>
            <a href="{{ site.jamstack_url }}">JAMstack</a>
            <a href="#">Scripts and Other</a>
        </div>
        </div>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#" class="get_started">Subscribe</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
</nav>