header.index-header {
    // max-width: 100vw;
    // height: 100vh;
    // background-image: url(https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg);
    // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    background-color: black;
    background-image: radial-gradient(
        rgba(0, 150, 0, 0.75), black 120%
    );
    max-width: 100vw;
    height: 100vh;
    &:after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: repeating-linear-gradient(
            0deg,
            rgba(black, 0.15),
            rgba(black, 0.15) 1px,
            transparent 1px,
            transparent 2px
        );
    }
}
    
    .intro {
        max-width: 600px;
        // background-color: black;
        // background-image: radial-gradient(
        //     rgba(0, 150, 0, 0.75), black 120%
        // );
        // position:absolute;
        // width: 60%;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        p {
            color: white;
            font-family: monospace;
            text-shadow: 0 0 5px #C8C8C8;
            font-size: x-large;
            padding: 4em 1em;
            #cursor {
                animation: blink 1.25s linear infinite;
            }
            @keyframes blink {
                0% { opacity: 1; }
                50% { opacity: 1; }
                50.01% { opacity: 0; }
                100% { opacity: 0; }
            }
        }
    }

    span.scroll-down {
        position: absolute;
        bottom: 20;
        left: 49%;
        right: 49%;
        transform: scale(2);
    }


    // video {
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     opacity: 0.5;
    //     object-fit: cover;
    // }
section:not(.projects) {
    max-width: 800px;
    margin: 2em auto;
    padding: 0.5em;
}

section.capabilities {
    h4 {
        margin: 0.5em 0;
    }

    div.skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: max-content;
    }

    hr {
        width: 100%;
    }

    figure {
        margin: 0.5em 1em 0.5em 0;
        padding: 0.5em;
        display: inline-block;
        img {
            height: 4rem;
            width: 4rem;
            margin: auto;
            display: block;
        }
        &:hover {
            transform: scale(1.1) rotate(10deg);
        }
        figcaption {
            text-align: center;
            background-color: rgba(190, 190, 190, 0.295);
            padding: 2px 4px;
            border-radius: 5px;
            margin-top: 10px;
            font-family: 'Source Code Pro', monospace;
        }
    }
}

section.index-projects {
    a {
        color: greenyellow;
    }
}

section.connect {
    img {
        width: 4rem;
        height: 4rem;
        margin: 1em 2em 1em 0;
        &:not(#linkedin) {
            filter: invert(100%);
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}
