header.page {
    max-width: 100vw;
    height: 45vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1.hero-title {
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    top: 25vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0.3em;
    transition: left 1s ease;
}

img.hero {
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;
    object-position: 50% 30%;
}

section.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article.project {
    background-color: #fdfdfd31;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    max-width: 400px;
    h3 {
        margin: 0.5em 0
    }
    div.icons {
        padding: 0.5em 0;
        img:hover {
            transform: scale(1.1);
        }
    }
    img.cover {
        max-height: 200px;
        max-width: 400px;
    }
    img.technology {
        height: 1.5rem;
        width: 1.5rem;
    }
    a {
        background-color: #4717F6;;
        border-radius: 5px;
        padding: 5px;
        margin-top: 1em;
        display: inline-block;
        text-decoration: none;
        color: white;
    }
}